// ==========================================================================
// Base Styles
// ==========================================================================


body {
	color: palette(grey);
	font-size: $base__font-size;
	font-family: $font-family--primary;
	line-height: ($base__line/$base__font-size);
	background-color: palette(grey, xxxx-light);
	box-sizing: border-box;
	display: block;
	min-height: 100%;
	width: 100%;
}

// Text

h1 {
	@extend %hdln-prim;
}

h2 {
	@extend %hdln-sec;
}

h3 {
	font-size: em(18px);
}

h4 {
	margin-top: em(22px, 14px);
	margin-bottom: em(32px, 14px);
	color: palette(grey, x-light);
	text-transform: uppercase;
	letter-spacing: $letter-space;
	font-weight: $font-weight--medium;
	font-size: em(14px);
}

a, *:link {
	color: palette(grey, dark); 
	text-decoration: none;
	font-weight: $font-weight--medium;
	@include transition(all, $effect, $timing);

	&:hover, &:link:hover{
		text-decoration: none;
		color: adjust_color($tsblue, $saturation: 100%);
	}
	&.tsn-current{
		color: adjust_color($tsblue, $saturation: 70%);
	}
}

p {
	//margin: 0 0 em(30px, 18px);
	margin: 0;
	font-weight: $font-weight--light;
	font-size: em(18px);
	line-height: (27px/18px);
}

blockquote {
	@media (min-width: 769px) {
		margin: em(32px, 24px) 0;
		padding: 0 0 0 5%;
		border-left: em(8px, 24px) solid palette(grey, xx-light); 
		font-size: em(24px);
	}
	font-weight: $font-weight--light;
	font-style : italic;
	font-size : em(20px);
}

// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Images

img {
  margin-bottom: em(24px);
  max-width: 100%;
  height: auto;
	display: inline-block;
	@include transition(all, $effect, $timing);
}


// Button

button {
	outline: 0;
	border: 1px solid transparent;
	@include transition(all, $effect, $timing);
}

// Layout

footer {
	p {
		font-size: em(16px);
		margin-top: em(22px, 16px);
	}
}