$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'main/main';
@import 'main/tsstyles/base/base';
@import 'main/tsstyles/base/index';
@import 'main/tsstyles/base/normalize';
@import 'main/tsstyles/base/scut';
@import 'main/tsstyles/base/selectbox';
@import 'main/tsstyles/index';
@import 'main/tsstyles/layout/extends';
@import 'main/tsstyles/layout/grid-columns';
@import 'main/tsstyles/layout/grid-container';
@import 'main/tsstyles/layout/index';
@import 'main/tsstyles/layout/panel';
@import 'main/tsstyles/layout/sections';
@import 'main/tsstyles/modules/buttons';
@import 'main/tsstyles/modules/deposit';
@import 'main/tsstyles/modules/extends';
@import 'main/tsstyles/modules/footer';
@import 'main/tsstyles/modules/forms';
@import 'main/tsstyles/modules/header';
@import 'main/tsstyles/modules/headlines';
@import 'main/tsstyles/modules/icons';
@import 'main/tsstyles/modules/img';
@import 'main/tsstyles/modules/index';
@import 'main/tsstyles/modules/nav';
@import 'main/tsstyles/modules/navbar';
@import 'main/tsstyles/modules/rows';
@import 'main/tsstyles/modules/text';
@import 'main/tsstyles/states/collapsed';
@import 'main/tsstyles/states/grid-display';
@import 'main/tsstyles/states/index';
@import 'main/tsstyles/utilities/buildicons';
@import 'main/tsstyles/utilities/config';
@import 'main/tsstyles/utilities/functions';
@import 'main/tsstyles/utilities/helpers';
@import 'main/tsstyles/utilities/index';
@import 'main/tsstyles/utilities/mixins';
@import 'main/tsstyles/utilities/mobile1';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
