<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <iframe width="100%" height="410" src="//www.youtube.com/embed/N0f1EEnROCM" frameborder="0"></iframe>

    <h3 class="page-header">Comments</h3>
    <form class="comment-form" name="commentForm">
      <input type="text" class="form-control" placeholder="Add your comment" ng-model="$ctrl.newComment">
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.addComment()">Add New</button>
    </form>

    <ul class="nav nav-tabs nav-stacked clearfix" novalidate>
      <ul class="nav nav-tabs nav-stacked col-md-12" ng-repeat="comment in $ctrl.Comments">
      <li><a href="#">{{comment.content}}<button type="button" class="close" ng-click="$ctrl.deleteComment(comment)">&times;</button></a></li>
    </ul>
    </ul>
</div>
