@import 'constants';

$color-light: #008fe3;
$color-mid: #024c8d;
$color-dark: #005ba3;

$gradient-color-top: $color-light;
$gradient-color-mid1: #2989d8;
$gradient-color-mid2: #207cca;
$gradient-color-bottom: $color-dark;

$header-background-color: #fff;

$idChkMsg-screen:#248FF1;
$idChkMsg-phonelink:#248FF1;

@import 'base';

/*Widget Styles*/
.registration-box {

  /*Mobile specific widget styles*/
  .ui-mobile & {
    border: 2px solid $color-mid !important;
    color: $color-dark;
  }
  /*End mobile specific widget styles*/
}