@import 'constants';

.registration-box {
    margin: 0 auto;
    max-width: 330px;
    padding: 25px 0;


    /*
    * Mobile Overrides
    */
    .ui-mobile {
        background: #f4f4f4!important;
        border-radius: 8px;
        margin: 16px auto;
        max-width: 320px;
        padding: 30px;

        .app-modal-box {
            background: #f4f4f4 !important;
            border-radius: 8px;

            > div {
                width: 100%;
                height: 488px;
                border-top: none;
                border-radius: 0 0 8px 8px;
            }

            h2 {
                padding: 0 !important;
                text-shadow: none;
                background-image: none !important;
            }

            .terms-wrapper {
                .title {
                    margin-top: 18px;
                    margin-bottom: 18px;
                    text-align: center;
                }

                p {
                    margin-top: 16px;
                    margin-bottom: 16px;
                }

                h1 {
                    margin-top: 21px;
                    margin-bottom: 21px;
                    font-size: 2em;
                }
                ul {
                    padding-left: 48px;
                    line-height: 22px;
                    li {
                        list-style-type: disc;
                    }
                }
            }
        }

        @media #{min-width-tablet} {
            float: left;
        }

        @media #{min-width-desktop} {
            width: 600px;
        }

        > .content {
            color: #000;
            padding: 10px 20px;
        }

        .inner {
            border: 1px solid darken(#f4f4f4, 5%);
            height: 355px;
            width: 75%;
            margin: 0 auto;
            padding: 0 10px;

            &.scrollable {
                overflow-y: scroll;
            }
        }

        .registration-button-container {
            margin: 20px 0;
            text-align: center;
        }

        .registration-field {
            p {
                margin-top: 16px;
                margin-bottom: 16px;

                &.terms-and-conditions {
                    font-size: 13px;
                }
            }

            .registration-form-error {
                margin-bottom: 10px;
            }

            .registration-error {
                font-size: 13px;
                text-shadow: none;
            }
        }
        #registrationNeedsFormerAddressBox {
            .registration-input-group > div {
                &:first-child {
                    margin: 1px;
                }
            }
        }

        #registrationSsnBox {
            #registrationSSNGroup1 {
                width: 4em;
            }
            #registrationSSNGroup2 {
                width: 3em;
            }
            #registrationSSNGroup3 {
                width: 5em;
            }
        }

        .registration-button {
            width: 177px;
        }

        .registration-button .registration-cancel {
            background: #ccc;
            border: 1px solid $default-input-border-color;
            float: left;
            text-shadow: 0 0 2px #888;
        }

        #registrationCancel {
            width: 45%;
        }

        #registrationSubmit {
            width: 75%;
        }

        .registration-button-grey {
            background: #D2D4D5; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOGZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDViYTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top, #D2D4D5 0%, #C4C5C7 50%, #DADCDD 51%, #CACDCF 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D2D4D5), color-stop(50%, #C4C5C7), color-stop(51%, #DADCDD), color-stop(100%, #CACDCF)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #D2D4D5 0%, #C4C5C7 50%, #DADCDD 51%, #CACDCF 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #D2D4D5 0%, #C4C5C7 50%, #DADCDD 51%, #CACDCF 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #D2D4D5 0%, #C4C5C7 50%, #DADCDD 51%, #CACDCF 100%); /* IE10+ */
            background: linear-gradient(to bottom, #D2D4D5 0%, #C4C5C7 50%, #DADCDD 51%, #CACDCF 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D2D4D5, endColorstr=#CACDCF, GradientType=0); /* IE6-9*/
            border: 1px solid #BDC9D3;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
            font-size: 24px;
            height: 55px;
            text-shadow: 0 0 4px #000000;
        }
    }
    /*
    * End Mobile Overrides
    */

	* {
		box-sizing: border-box;
		outline: 0;
	}

    hr {
        border: none;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    input[type="number"] {
        -moz-appearance: textfield;
        margin: 0;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    section.registration-fields {
        float: left;
        width: 100%;

        .ng-scope {/*to show checkmark*/
            overflow:visible !important;
        }
    }

    .registration-button {
      background: #{gradient-color-top}; /* Old browsers */
      background-image: -ms-linear-gradient(top, #{gradient-color-top} 0%, #{gradient-color-mid1} 50%, #{gradient-color-mid1} 51%, #{gradient-color-bottom} 100%);
      /* Mozilla Firefox */
      background-image: -moz-linear-gradient(top, #{gradient-color-top} 0%, #{gradient-color-mid1} 50%, #{gradient-color-mid1} 51%, #{gradient-color-bottom} 100%);
      /* Opera */
      background-image: -o-linear-gradient(top, #{gradient-color-top} 0%, #{gradient-color-mid1} 50%, #{gradient-color-mid1} 51%, #{gradient-color-bottom} 100%);
      /* Webkit (Safari/Chrome 10) */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #{gradient-color-top}), color-stop(50, #{gradient-color-mid1}), color-stop(51, #{gradient-color-mid1}), color-stop(100, #{gradient-color-bottom}));
      /* Webkit (Chrome 11+) */
      background-image: -webkit-linear-gradient(top, #{gradient-color-top} 0%, #{gradient-color-mid1} 50%, #{gradient-color-mid1} 51%, #{gradient-color-bottom} 100%);
      /* W3C Markup */
      background-image: linear-gradient(to bottom, #{gradient-color-top} 0%, #{gradient-color-mid1} 50%, #{gradient-color-mid1} 51%, #{gradient-color-bottom} 100%);
      /* IE6-9*/
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{gradient-color-top}, endColorstr=#{gradient-color-bottom},GradientType=0 );
      border: 1px solid #{color-mid};
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      font-size: 24px;
      height: 55px;
      width: 177px;
      text-shadow: 0 0 4px #{gradient-color-bottom};

        &.disabled {
            background: #dadada;
            border-color: #dadada;
            cursor: inherit;
            text-shadow: none;
            filter: none;
        }
    }

    .registration-field {
        clear: both;
        width: 100%;

        label {
            clear: both;
            color: #{color-mid};
            float: left;
            font: 700 16px Helvetica,Arial,sans-serif;
            margin-bottom: 2px;

            &.nonheader {
                color: inherit;
                font: inherit;
                text-transform: none;
            }
        }

        .registration-input-wrapper {
            clear: both;
            float: left;
            margin-bottom: 10px;
            width: 100%;

            > select {
                min-width: 50%;
                float:left;
            }

            > .registration-input-wrapper {
                margin-bottom: 0;
            }

            /* checkmark */
            .checkmark {
                display:inline;
                position:absolute;
                width:16px;
                height:13px;
                visibility:hidden;
                //background: no-repeat url($checkmark-url);
                margin-left: $checkmark-margin-left;
            }
            input + .checkmark {
                margin-top:6px;
            }
            select + .checkmark {
                margin-top:7px;
            }
            input.success + .checkmark, select.success + .checkmark,
            div.registration-input-group.success >  .checkmark{
                visibility:visible;
            }

            .registration-input-group {
                overflow: hidden;

                * {
                    float: left;
                    margin-left: 5px;

                    &:first-child {
                        margin-left: 0;
                    }
                    
                    &.checkmark {
                        margin-left: $checkmark-margin-left;
                    }
                }

                input {
                    width: auto;
                }

                input[type="text"],
                input[type="number"],
                input[type="tel"],
                select {
                    float: left;
                }

                &:focus > input[type="text"],
                &:focus > input[type="password"],
                &:focus > input[type="number"],
                &:focus > input[type="tel"],
                &:focus > select {
                    border: 2px solid $focus-color;
                }

                &.error {
                    background-color: $error-color;
                }

                &.error > input[type="text"],
                &.error > input[type="password"],
                &.error > input[type="number"],
                &.error > input[type="tel"],
                &.error > select {
                    background-color: lighten($error-color, 55%);
                    border: 2px solid $error-color;
                    color: $error-color;
                }

                &.success > input[type="text"],
                &.success > input[type="password"],
                &.success > input[type="number"],
                &.success > input[type="tel"],
                &.success > select {
                    background-color: lighten($success-color, 55%);
                    border: 2px solid $success-color;
                    color: $success-color;
                }

                .registration-error {
                    text-align: left;
                }
            }
        }

        input[type="text"],
        input[type="number"],
        input[type="tel"],
        input[type="password"] {
            -webkit-user-modify: read-write-plaintext-only;
            border: 1px solid $default-input-border-color;
            //	    height: 32px; /* explicitly setting height so that border doesnt push content down */
            //	    line-height: 30px;
            padding: 5px 10px;

            &:focus {
                border: 2px solid $focus-color;
                padding: 4px 9px;
            }

            &.error {
                border: 2px solid $error-color;
                color: $error-color;
                padding: 4px 9px;
            }

            &.success {
                border: 2px solid $success-color;
                background-color: lighten($success-color, 55%);
                padding: 4px 9px;
            }

        }

        select {
            border: 1px solid $default-input-border-color;
            padding: 5px 10px;

            &:focus {
                border: 2px solid $focus-color;
                padding: 4px 9px;
            }

            &.error {
                border: 2px solid $error-color;
                color: $error-color;
                padding: 4px 9px;
            }

            &.success {
                border: 2px solid $success-color;
                background-color: lighten($success-color, 55%);
                padding: 4px 9px;
            }
        }
        .success > select {
            border: 2px solid $success-color;
            background-color: lighten($success-color, 55%);
            padding: 4px 9px;
        }
        select > * {
            padding-left: 10px;
        }

        input {
            &[type="text"],
            &[type="number"],
            &[type="tel"],
            &[type="password"] {
                box-shadow: none !important;
                width: 100%;
            }

            &[type="radio"] {
                margin-top: 2px;
            }

            &[readonly="readonly"] {
                background: $inactive-input-background-color;

                &:focus {
                    border: 1px solid $default-input-border-color;
                }
            }
        }

        .centered-text input {
            text-align: center;
        }

        .spaced-letters input {
            letter-spacing: 2px;
        }

        .size-limited input {
            width: auto;
        }

        .registration-error {
            background: $error-color;
            color: #fff;
            float: left;
            padding: 5px 10px;
            width: 100%;
        }

        .registration-form-error {
            margin-bottom: 10px;
        }

        p.terms-and-conditions {
            font-size: 10px;
        }

        .field-explanation {
            clear: both;
            padding-top: 10px;
        }

    }

    /* ELEMENT SPECIFIC */
    /* previous residence radio buttons */
    #registrationNeedsFormerAddressBox {
        label {
            margin-bottom: 10px;
        }

        .registration-special-message {
            clear: both;
            font-size: 13px;
            font-family: "FuturaBook","Century Gothic",Arial,Helvetica,sans-serif;
            font-weight: bold;
            padding: 8px 0 15px;
            text-transform: uppercase;
        }

        .registration-input-group > div {
            margin-left: 50px;

            &:first-child {
                margin: 0;
            }

            input {
                margin-right: 5px;
            }
        }
    }


    /* ssn */
    #registrationSsnBox {
        #registrationSSNGroup1 {
            width: 5em;
        }
        #registrationSSNGroup2 {
            width: 4em;
        }
        #registrationSSNGroup3 {
            width: 6em;
        }

        #ssn-explain .ssn-tooltip {
            display: inline-block;
            width: 14px;
            height: 14px;

            vertical-align: top;

            //background: url(images/question_icon.png) no-repeat center center;

            // Override some styles that are limited by the module
            .tooltip {
                width: 24em;
                right: calc(100% - 18em + 58px) !important;

                &.left::after,
                &.left::before { right: calc(18em - 80px) !important; }
            }

        }
    }
}


// TUX overrides for SSN tooltip
._ts-main {

    #registration.registration-box { overflow: auto; }

    .registration-box .registration-field .field-explanation { width: auto; }

    #registrationSsnBox .ssn-tooltip .tooltip {
        width: 26em;
        right: calc(100% - 7em + 24px) !important;

        &.left::after,
        &.left::before { right: calc(7em - 46px) !important; }
    }

}


.origin-tracker-image-container {
	margin-bottom: 20px;

	.origin-tracker-standard-image {
		width: 100%;

	    @media #{min-width-desktop} {
			width: auto;
		}
	}

	.origin-tracker-mobile-image {
		@media #{tiny} {
			width: 100%;
		}
	}
}

/* modal */
.app-modal-box {
	border: none;
	background: none;
}
/**
 * Modal box overrides for smartphones.
 * Margin not giving us much space to work with.
 */
.app-modal .app-modal-box {
  @media only screen and (min-device-width: #{layout-width-min}) and (max-device-width: #{layout-width-tablet}) {
    top:0% !important;
    bottom:0% !important;
    left:0% !important;
    right:0% !important;
  }
}


/**
 * VeriSign and Norton Security logos
 * These logos appear next to the submit button on the registration widget
 */
.logo-verisign,
.logo-norton {
    display: inline-block;
    width: 68px;
    height: 48px;

    background: no-repeat center center;
    vertical-align: top;
}

.logo-verisign {
    margin-left: 12px;

    //background-image: url(images/verisign.png);
}

.logo-norton {
    width: 61px;
    height: 55px;
    //background-image: url(images/norton.png);
}

.registration-extra {
    padding: 11px;
    font-size:13px;

    h3 {
        color: $idChkMsg-screen;
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 20px;
        text-align: center;
    }

    .reg-call-us {
        padding-bottom: 20px;
    }

    .reg-call-us a:link {
        color: $idChkMsg-phonelink;
        text-decoration: none;
        font-weight: normal;
        white-space: nowrap;
    }

    .genericButn {
        display: block;
        width: 100%;
        line-height: 48px;
        background-color: $idChkMsg-screen;
        font-size: 16px;
        color: #FFFFFF;
        text-align: center;
    }
    .genericButn.gbGrey {
        background-color: #DCDCDC;
        color: #000;
        font-weight: normal;
    }

    a {
        text-decoration: none;
        font-weight: normal;
    }

    .reg-mb {
        margin-bottom:12px;
    }

    .reg-mb2 {
        margin-bottom:20px;
    }

    a.genericButn:link {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: normal;
    }

    ol.reg-failed-reasons {
        padding: 20px 0;
    }

    ol.reg-failed-reasons p {
        padding-left: 0;
    }

    ol.reg-failed-reasons li {
        line-height: 23px;
        margin-left: 16px;
    }

    .whiteSpcWrap{
        white-space: nowrap;
    }
}
