<div ng-if="config.displayHeader" class="signInFormHeaderRow loginFormLabel">
    <span ng-if="config.headerText">{{config.headerText}}</span>
    <span ng-if="!config.headerText">Register</span>
</div>

<x-ts-notifications-area></x-ts-notifications-area>
<!--suppress HtmlFormInputWithoutLabel -->
<div id="registration" class="registration-box" ng-show="showRegistration">
    <form class="registration" name="registrationForm" ng-submit="signupClicked($event)" novalidate>
        <!--<div class="registration-header">-->
        <!--<div class="registration-header-title">Signup Today!</div>-->
        <!--</div>-->
        <!--<div class="clear"></div>-->
        <div class="registration-body" ng-show="!doneInitializing" style="text-align: center;">
            Loading...
        </div>
        <div class="registration-body" ng-show="doneInitializing && config.fields.length > 0">
            <section class="registration-fields" ng-repeat="column in config.fields">

                <div class="registration-field"
                     id="{{'registration' + field.name[0].toUpperCase() + field.name.substring(1) + 'Box'}}"
                     ng-repeat="field in column">
                    <!-- General text inputs and dropdowns -->
                    <div ng-if="!field.hasOwnProperty('type') || inArray(field.type, textualInputTypes) || field.type == 'select' || field.type == 'radio' || field.type == 'password'">
                        <!-- Labels -->
                        <label for="{{'registration' + field.name[0].toUpperCase() + field.name.substring(1)}}"
                               ng-class="hasNonEmptyValue(field, 'labelClasses') ? field.labelClasses : ''"
                               ng-if="field.hasOwnProperty('label') && (!field.hasOwnProperty('type') || !inArray(field.type, specialCases)) && (!field.hasOwnProperty('showCode') || field.showCode == true)"
                               ng-show="!(field.hasOwnProperty('formerAddress') && models['needsFormerAddress'].toLowerCase() != 'yes' && field.name != 'needsFormerAddress')">
                            {{field.label}}:
                        </label>

                        <!-- Text inputs -->
                        <div class="registration-input-wrapper"
                             ng-class="field.hasOwnProperty('formerAddress') ? 'registration-former-address' : ''"
                             ng-if="(!field.hasOwnProperty('type') || inArray(field.type, textualInputTypes)) && (!field.hasOwnProperty('showCode') || field.showCode == true)"
                             ng-show="!(field.hasOwnProperty('formerAddress') && models['needsFormerAddress'].toLowerCase() != 'yes')">
                            <!--suppress XmlDuplicatedId -->
                            <textual-input></textual-input>
                            <div class="registration-error" ng-if="hasNonEmptyValue(errors, field.name)"
                                 ng-bind-html="errors[field.name]"></div>
                        </div>

                        <!-- Dropdowns -->
                        <div class="registration-input-wrapper select-wrapper"
                             ng-class="field.hasOwnProperty('formerAddress') ? 'registration-former-address' : ''"
                             ng-if="field.hasOwnProperty('type') && field.type == 'select' && field.options.length > 0"
                             ng-show="!(field.hasOwnProperty('formerAddress') && models['needsFormerAddress'].toLowerCase() != 'yes')">
                            <!--ng-blur="validateField(field, true)"-->
                            <!--suppress XmlDuplicatedId -->
                            <select id="{{'registration' + field.name[0].toUpperCase() + field.name.substring(1)}}"
                                    ng-class="{'{{field.inputClasses}}' : hasNonEmptyValue(field, 'inputClasses'),
                                    'error' : hasNonEmptyValue(errors, field.name),
                                    'success' : validated.hasOwnProperty(field.name) && hasNonEmptyValue(models, field.name) && !hasNonEmptyValue(errors, field.name)}"
                                    ng-model="models[field.name]"
                                    ng-options="(option.pre ? option.pre + ':' + option.v : option.v) as option.n for option in field.options"
                                    ng-change="updateSelectValue(field.name, models[field.name]); validateField(field, true)">
                            </select><span ng-if="field.name == 'stateSelect'" class="checkmark"></span>
                            <div class="registration-error"
                                 ng-if="errors.hasOwnProperty(field.name) && errors[field.name].length > 0">
                                {{errors[field.name]}}
                            </div>
                        </div>

                        <!-- Radio button sets -->
                        <div ng-if="field.hasOwnProperty('type') && field.type == 'radio'">
                            <div class="registration-input-wrapper">
                                <div class="registration-input-group">
                                    <div ng-repeat="option in field.options">
                                        <input ng-class="{'{{field.inputClasses}}' : hasNonEmptyValue(field, 'inputClasses')}"
                                               ng-model="models[field.name]"
                                               ng-checked="option.hasOwnProperty('checked') && !!checked"
                                               ng-value="option.v" type="radio"/> {{option.n}}
                                    </div>
                                </div>
                            </div>
                            <div class="registration-special-message" ng-if="hasNonEmptyValue(field, 'specialMessage') &&
                                field.name == 'needsFormerAddress' && models[field.name].toLowerCase() == 'yes'">
                                {{field.specialMessage}}
                            </div>
                        </div>

                        <!-- Password inputs -->
                        <div class="registration-input-wrapper"
                             ng-if="field.hasOwnProperty('type') && field.type == 'password'">
                            <!--suppress XmlDuplicatedId -->
                            <input id="{{'registration' + field.name[0].toUpperCase() + field.name.substring(1)}}"
                                   ng-blur="validateField(field, true)"
                                   ng-class="{'{{field.inputClasses}}' : hasNonEmptyValue(field, 'inputClasses'),
                                    'error' : hasNonEmptyValue(errors, field.name),
                                    'success' : validated.hasOwnProperty(field.name) && !hasNonEmptyValue(errors, field.name)}"
                                   ng-model="models[field.name]"
                                   maxlength="{{field.maxLength}}"
                                   placeholder="{{field.hasOwnProperty('placeholder') ? field.placeholder : ''}}"
                                   name="models[field.name]"
                                   type="password"/><span class="checkmark"></span>
                            <div class="registration-error" ng-if="hasNonEmptyValue(errors, field.name)">
                                {{errors[field.name]}}
                            </div>
                        </div>

                        <!-- Confirmation Text/Password Inputs -->
                        <div class="registration-input-wrapper"
                             ng-if="(field.hasOwnProperty('type') && field.type == 'password' || (!field.hasOwnProperty('type') || field.type == 'text')) &&
                                field.hasOwnProperty('confirm') && field.confirm == true">
                            <label for="{{'registrationConfirm' + field.name[0].toUpperCase() + field.name.substring(1)}}">CONFIRM
                                {{field.label}}:</label>
                            <div class="registration-input-wrapper">
                                <!--suppress XmlDuplicatedId -->
                                <input ng-class="{'{{field.inputClasses}}' : field.hasOwnProperty('inputClasses') && '{{field.inputClasses}}'.length > 0,
                                    'error' : hasNonEmptyValue(errors, 'confirm' + field.name[0].toUpperCase() + field.name.substring(1)),
                                    'success' : validated.hasOwnProperty(field.name) && validated.hasOwnProperty('confirm' + field.name[0].toUpperCase() + field.name.substring(1))}"
                                       id="{{'registrationConfirm' + field.name[0].toUpperCase() + field.name.substring(1)}}"
                                       ng-model="models['confirm' + field.name[0].toUpperCase() + field.name.substring(1)]"
                                       ng-if="!field.hasOwnProperty('type') || field.type == 'text'"
                                       maxlength="{{field.maxLength}}"
                                       placeholder="{{field.hasOwnProperty('placeholder') ? 'Confirm ' + field.placeholder : ''}}"
                                       type="text"
                                       ng-blur="validateConfirmation(field)"/><span class="checkmark"></span>
                                <!--suppress XmlDuplicatedId -->
                                <input ng-class="{'{{field.inputClasses}}' : field.hasOwnProperty('inputClasses') && '{{field.inputClasses}}'.length > 0,
                                    'error' : hasNonEmptyValue(errors, 'confirm' + field.name[0].toUpperCase() + field.name.substring(1)),
                                    'success' : validated.hasOwnProperty(field.name) && validated.hasOwnProperty('confirm' + field.name[0].toUpperCase() + field.name.substring(1))}"
                                       id="{{'registrationConfirm' + field.name[0].toUpperCase() + field.name.substring(1)}}"
                                       ng-model="models['confirm' + field.name[0].toUpperCase() + field.name.substring(1)]"
                                       ng-if="field.hasOwnProperty('type') && field.type == 'password'"
                                       maxlength="{{field.maxLength}}"
                                       placeholder="{{field.hasOwnProperty('placeholder') ? 'Confirm ' + field.placeholder : ''}}"
                                       type="password"
                                       ng-blur="validateConfirmation(field)"/><span class="checkmark"></span>
                                <div class="registration-error"
                                     ng-if="hasNonEmptyValue(errors, 'confirm' + field.name[0].toUpperCase() + field.name.substring(1))">
                                    {{errors['confirm' + field.name[0].toUpperCase() + field.name.substring(1)]}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SSN -->
                    <div ng-if="field.hasOwnProperty('type') && field.type == 'ssn'"
                         ng-show="ssnMode != 0 || (field.hasOwnProperty('showInNoneMode') && field.showInNoneMode)">
                        <label for="registrationSSNGroup1">{{ field.hasOwnProperty('label_' + ssnMode) ? field['label_'
                            + ssnMode] : field.label }}:</label>
                        <div class="registration-input-wrapper">
                            <div class="registration-input-group" ng-class="{'{{field.inputClasses}}' : hasNonEmptyValue(field, 'inputClasses'),
                                    'error' : hasNonEmptyValue(errors, field.name),
                                    'success' : validated.hasOwnProperty(field.name) && !hasNonEmptyValue(errors, field.name)}">
                                <input id="registrationSSNGroup1" maxlength="3" ng-model="models['ssnGroup1']"
                                       ng-readonly="ssnMode != 9"
                                       ng-blur="validateField(field, true)" ng-disabled="ssnMode != 9"
                                       ng-if="ssnMode == 9"
                                       placeholder="XXX" type="tel" size="3"/>
                                <input id="registrationSSNGroup2" maxlength="2" ng-model="models['ssnGroup2']"
                                       ng-readonly="ssnMode != 9"
                                       ng-blur="validateField(field, true)" ng-disabled="ssnMode != 9"
                                       ng-if="ssnMode > 4"
                                       placeholder="XX" type="tel" size="2"/>
                                <input id="registrationSSNGroup3" maxlength="4" ng-model="models['ssnGroup3']"
                                       ng-readonly="ssnMode == 0"
                                       ng-blur="validateField(field, true)" ng-disabled="ssnMode == 0"
                                       placeholder="XXXX"
                                       type="tel" size="4"/><span class="checkmark"></span>
                            </div>
                            <div class="registration-error" ng-if="hasNonEmptyValue(errors, 'ssn')">{{errors['ssn']}}
                            </div>
                            <div id="ssn-explain" class="field-explanation">
                                <strong>Why Do We Need This?</strong><br>
                                {{affiliateDisplayName}} is committed to responsible wagering and complying with state
                                and federal regulations.
                                <span class="ssn-tooltip" href="#"
                                      tooltip="We collect your Social Security Number (SSN) for 2 main reasons:<br>
                                        <br>
                                        1. <strong>Identity Verification:</strong> We use your SSN to verify your age and state of residence.<br>
                                        2. <strong>IRS Requirement:</strong> The IRS requires all online wagering sites collect your SSN in order to report your taxable winnings.<br>
                                        <br>
                                        We protect your personal information with the latest website security technologies. We safeguard your information with SSL (Secure Sockets Layer).
                                        SSL encrypts your personal information so that it cannot be read in transit by a third party. Your information is safe with us."
                                      tooltip-title="Why {{affiliateDisplayName}} Requires Your SSN"
                                      tooltip-trigger="click"
                                      tooltip-position="bottom left"
                                ></span>
                            </div>
                        </div>
                    </div>

                    <!-- DOB -->
                    <div ng-if="field.hasOwnProperty('type') && field.type == 'dob'">
                        <label for="registrationDOBMonth">{{field.label}}:</label>
                        <div class="registration-input-wrapper">
                            <div class="registration-input-group" ng-class="{'{{field.inputClasses}}' : hasNonEmptyValue(field, 'inputClasses'),
                                    'error' : hasNonEmptyValue(errors, field.name),
                                    'success' : validated.hasOwnProperty('dob') && !hasNonEmptyValue(errors, field.name)}">
                                <select id="registrationDOBMonth" ng-model="models['dobMonth']"
                                        ng-options="option as option for option in dobMonths"
                                        ng-change="updateSelectValue('dobMonth', models['dobMonth']); validateField(field, true)">
                                </select>

                                <select id="registrationDOBDay" ng-model="models['dobDay']"
                                        ng-change="updateSelectValue('dobDay', models['dobDay']); validateField(field, true)"
                                        ng-options="option as option for option in dobDays">
                                </select>
                                <select id="registrationDOBYear" ng-model="models['dobYear']"
                                        ng-change="updateSelectValue('dobYear', models['dobYear']); validateField(field, true)"
                                        ng-options="option as option for option in dobYears">
                                </select><span class="checkmark"></span>
                            </div>
                            <div class="registration-error" ng-if="hasNonEmptyValue(errors, 'dob')">
                                {{errors['dob']}}
                            </div>
                            <div id="dob-explain" class="field-explanation">
                                You must be at least 18 years old to open a {{affiliateDisplayName}} account.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="registration-submission">
                <div class="registration-field">
                    <!--<input type="hidden" ng-model="models[c]" name="c" />-->
                    <div ng-show="showFormError" class="registration-error registration-form-error">
                        <div ng-show="idCheckError">Verification error: Please ensure all information is correct and try
                            again.
                        </div>
                        <div ng-show="ssnDuplicate">You may already have an account. <a href="javascript:"
                                                                                        ng-click="launchUrlInBrowser()">Go
                            here</a> to retrieve your login information.
                        </div>
                        <div ng-show="userExists">This username is not available.</div>
                        <div ng-show="toteDown">Sorry! Our systems may be down. Please try again later.</div>
                        <div ng-show="replicationDelay">Temporary submission error. Please try again.</div>
                        <div ng-show="genericErrors">
                            We need to verify your identity. Please fax a copy of these to (859) 223-9141<br>
                            1. Driver's License OR government issued ID<br>
                            2. Social Security Card OR legal tax document<br>
                            3. Utility Bill showing your address.<br><br>
                            For more help, please call (855) 845-5035.
                        </div>
                        <div ng-show="liteRegistrationError">{{liteRegistrationErrorMessage}}</div>
                    </div>

                    <div ng-show="liteRegistrationSuccess" class="registration-success">
                        {{liteRegistrationSuccessMessage}}
                    </div>

                    <input ng-disabled="disableSubmit" ng-class="{disabled: disableSubmit}" class="{{submitClass}}"
                           id="registrationSubmit" type="submit"
                           value="{{hasNonEmptyValue(config, 'submitValue') ? config['submitValue'] : 'Submit'}}"/>

                    <div ng-hide="config.hasOwnProperty('hideSecurityLogos') && config['hideSecurityLogos'] === true">
                        <span class="logo-verisign"></span>
                        <span class="logo-norton"></span>
                    </div>

                    <div terms></div>
                </div>
            </section>
        </div>
    </form>
    <form id="registrationLoginForm" ng-if="!isMobile" method="post"
          action="{{hasNonEmptyValue(autoLogin, 'fullPostTarget') ? autoLogin.fullPostTarget : ''}}" target="_top">
        <input type="hidden" id="registrationLoginUser" name="acct"/>
        <input type="hidden" id="registrationLoginPass" name="pin"/>
        <input type="hidden" id="registrationSID" name="tmsid"/>
        <input type="hidden" id="registrationLoginRedirect" name="redirect"
               ng-if="hasNonEmptyValue(autoLogin, 'successRedirect')" value="{{autoLogin.successRedirect}}"/>
    </form>
    <div ts-modal set-content="modalContent" show="showTermsModal"></div>
    <div ng-if="config.displaySignin" class="signin">
        <div class="signin-message">Already have an account?</div>
        <input type="button" class="registration-button signin-button" value="SIGN IN"
               ng-click="redirect(config.signinURL)"/>
    </div>
</div>
<profile-dir></profile-dir>
<div id="idCheckFailedMsg" class="font-family registration-extra" ng-show="showVerficationFailed">
    <h3>There was a problem creating your account</h3>
    <p class="reg-call-us">Please call Player Services to verify your identity and complete signup at <a
            href="tel:{{regSupportPhone}}"> {{regSupportPhone}}</a>. </p>

    <a id="javascript:void(0)" class="genericButn" href="tel:{{regSupportPhone}}" type="button" data-role="button">Call
        Us</a>

    <ol class="reg-failed-reasons">
        <p>You will need the following:</p>
        <li>Driver's License OR Government Issued ID</li>
        <li>Social Security Card OR Legal Tax Document</li>
        <li>Utility Bill, showing a valid address</li>
    </ol>
    <p>You may fax these documents to expedite the process at <span class="whiteSpcWrap">1-859-223-9141</span>.</p>
</div>
<div class="font-family registration-extra" ng-show="showRegBack">
    <h3>Account Help</h3>
    <div class="reg-mb">Need help signing up at {{affiliateDisplayName}}?</div>
    <div class="reg-mb2">We can help! Call us at:<a href="tel:{{supportPhone}}"> {{supportPhone}} </a></div>

    <a id="javascript:void(0)" class="genericButn" href="tel:{{supportPhone}}" type="button" data-role="button">Call
        Us</a><br/>
    <a id="javascript:void(0)" class="genericButn gbGrey" onclick="TSM.showLogin()" type="button" data-role="button">Cancel</a>
</div>
