// ==========================================================================
// Helpers
// ==========================================================================

// Clearfix

%clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Screen reader text

.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
// hide elements for everyone except screen readers for visually impaired
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// Center alignment

%center-align {
	text-align: center;
}

// For pseudo-elements

%pseudos {
  display: block;
  content: ''; 
  position: absolute;
}

// Center elements

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

//use with flex display

.left {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.right {
  margin-left: auto;
}